name: macOS Metal Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
    - name: Checkout ox
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        brew install cmake

    - name: Build ox
      run: |
        cmake -B build -DCMAKE_BUILD_TYPE=Release
        cmake --build build --config Release

    - name: Run Metal tests
      run: |
        cd build/bin/tests/runtime
        ./runtime_tests
